{# templates/admin/admin.html.twig #}
{% extends "base/base.html.twig" %}
{% block title %} Administration - Home{% endblock %}
{% block content %}
    <h1>Administration homepage</h1>
{% endblock %}
