{# templates/Product.html.twig #}
{% extends "base/base.html.twig" %}
{% block title %} Product {{ product_id }}{% endblock %}
{% block content %}
    <h1>Products {{ product_id }}</h1>

    <h2>Fidget n°{{ fidget|join(', \n') }}</h2>
{% endblock %}