{% extends '/base/base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <main class="container">
        <h1>Registration</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </main>
{% endblock %}